*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    // background-color: black;
}
.pic{
    margin: 0 auto;
    width: 800px;
    height: 600px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.dice{
    width: 250px;
    height: 300px;
    justify-content: center;
    align-items: center;
}
.start{
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: chartreuse;
    font-size: 50px;
    top: 80%;
    left: 50%;
    transform: translate(-50%);
}
.total{
    width: 250px; 
    height: 50px;
    background-color: beige;
    margin-top: 30px;
    box-shadow: 0px 1px 2px 2px rgb(160, 160, 160);
    font-size: 25px;
    color: rgb(46, 41, 41);
    font-weight: bolder;
    text-align: center;
    line-height: 50px;
}
.outcome{
    margin-top: 20px;
    width: 60%; 
    position: absolute;
    top: 50%;
    background-color: rgb(241, 243, 243);
    box-shadow: 0px 1px 2px 2px rgb(160, 160, 160);
    padding: 25px;
}