body{
    margin:0px;
    padding: 0px;
}
*{
    box-sizing:border-box;
}
html{
    scroll-behavior: smooth;
}
/* .conbtn{
    width: 100%;
    height: 80px;
} */
.navbar{
    width: 100%;
    height: 23px;
    background-color: darkblue;
    position: relative;
    right: 0%;
    top: 0%;
    /* top: 10px; */
    /* width: 100%; */
}
.nav-btn{
    width: 100%;
    height: 5vh;
    background-color: darkblue;
    position: absolute;
    right: 0%;
    top: 0%;
    /* position: fixed; */
}
#bg-full1{
    width: 100%;
    height: 100vh;
    /* background-color:blue ; */
    background-image: url("../img/p5-front-page.avif");
    background-size: cover ;
    position: relative;
    background-attachment: fixed;

}
#bg-full1>h1{
    font-family: 'Palette Mosaic', cursive;
    height: 110px;
    transform: translate(0,290%);
    color: rgb(31, 17, 226);
    background-color: rgba(01,61,60,.5);
    letter-spacing: 12px;
    padding-top: 15px;
    padding-left: 10px;
    text-align: center;
}

#bg-full2{
    width: 100%;
    height: 111vh;
    /* background-color:red; */
    background-image: url("../img/kyarakuta.jfif");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
#bg-full2>h2{
    font-family: 'Palette Mosaic', cursive;
    height: 115px;
    transform: translate(0,290%);
    color: rgb(31, 17, 226);
    background-color: rgba(01,61,60,.5);
    letter-spacing: 12px;
    padding-top: 36px;
    padding-left: 10px;
    text-align: center;
}
#bg-full3{
    width: 100%;
    height: 100vh;
    /* background-color:blue ; */
    background-image: url("../img/p5-front-page.avif");
    background-size: cover ;
    position: relative;
    background-attachment: fixed;

}
#bg-full3>h3{
    font-family: 'Palette Mosaic', cursive;
    height: 115px;
    transform: translate(11px,0%);
    color: rgb(31, 17, 226);
    background-color: rgba(01,61,60,.5);
    letter-spacing: 12px;
    padding-top: 36px;
    padding-left: 10px;
    text-align: center;
    font-size: 50PX;
}
/* .conbtn{
    width: 100%;
    height: 5vh;
    background-color: darkblue;
    position: sticky;
} */
ol{
    font-family: 'Palette Mosaic', cursive;
    width: 85px;
    height: 5vh;
    text-align: center;
    background-color: chartreuse;
    margin: 0px 10px;
    padding: 10px 10px;
    float: right;
}
ol:hover{
    background-color:red ;
    color:white;
    transition: 2s;
}
/* .font-box1{
    width: 10%;
    height: 2vh;
} */
/* .sticky {
    position: fixed;
    top: 0px;
    width: 100%;
 }
   */
